.navigation {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    z-index: 900;

    height: 80px;
}

@media (min-width: 375px) {
    .navigation {
        height: 96px;
    }
}

.navigation-logo {
    margin: 24px 24px 24px 0;
    width: 32px;
    aspect-ratio: 1;
}

@media (min-width: 375px) {
    .navigation-logo {
        width: 48px;
    }
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;

    /*    TODO Continue here with tablett and desktop version of navbar */
}

@media (max-width: 375px) {
    .navigation-bar {
        flex-direction: column;
        align-items: stretch;

        position: fixed;
        top: 0;
        left: 34vw;

        transition: left ease-out 250ms;

        width: 66vw;
        height: 100vh;
        padding: 80px 0 0 24px;

        background-color: var(--color-blue--very-very-dark--90);
    }

    .navigation-bar.hidden {
        left: 100%;

        transition: left ease-in 250ms;
    }
}

.navigation-burger-button {
    z-index: 999;

    margin-right: 24px;
    width: 32px;

    background-image: url('../../../assets/images/shared/icon-close.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    aspect-ratio: 1;
}

@media (min-width: 375px) {
    .navigation-burger-button {
        display: none;
    }
}

.navigation-burger-button.hidden {
    background-image: url('../../../assets/images/shared/icon-hamburger.svg');
}

.navigation-burger-button:active {
    background-color: var(--color-blue--very-light--10);
}
